﻿@{
    ViewBag.Title = "Register";

    int? day = (int?)ViewData["day"];

    int photos = 0;
    int votes = 0;
    
    DBEntities db = new DBEntities();
    
    if (day.HasValue) 
    {
        DateTime ToDay = new DateTime(2018, 11, 1, 0, 0, 0).AddDays(day.Value);
        DateTime EndDay = ToDay.AddDays(1).AddMilliseconds(-1);

        photos = db.Photo.Where(q => q.CreateDate >= ToDay && q.CreateDate <= EndDay).Count();
        votes = db.Vote.Where(q => q.CreateDate >= ToDay && q.CreateDate <= EndDay).Count();
    }
    else
    {
        photos = db.Photo.Count();
        votes = db.Vote.Count();
    }
}

<section class="panel">
	<header class="panel-heading">
		<h2 class="panel-title">List</h2>
	</header>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-8">
				<div class="mb-md">
                   <form class="form-horizontal" role="form">

                        <div class="form-group row">
                            <label for="inputKey" class="col-md-1 col-sm-2 col-xs-2 control-label">Day</label>
                            <div class="col-md-3 col-sm-3 col-xs-4">
                                <select id="select-day" class="form-control">
                                    <option value="">All</option>
                                    @for (int i = 1; i < 17; i++)
                                    { 
                                        <option value="@i" @(day.HasValue && day.Value == i ? "selected" : "")>@i</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-7 col-sm-6 col-xs-5">
                                <a id="export" class="btn btn-primary" href="@(Url.Action("Export") + "?day=" + day.ToString())">Export <i class="fa fa-report"></i></a>
                            </div>
                        </div>

                       <div class="form-group row">
                            <div class="col-md-12">
                                Total Photos: @photos
                            </div>
                           <div class="col-md-12">
                                Total Votes: @votes
                            </div>
                        </div>

                    </form>
				</div>
			</div>
		</div>
		<table class="table table-bordered table-striped" id="datatable">
			<thead>
				<tr>
					<th style="width:100px">ID</th>
					<th>Photo</th>
                    <th>User</th>
                    <th>Caption</th>
                    <th>Vote</th>
                    <th>Status</th>
                    <th>CreateDate</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</section>

@section Breadcrumb {
    <li><a href="@Url.Action("Index", "Dashboard")">Home</a></li>
	<li><span>Register</span></li>
}

@section scripts {
    <script>
        var $table = null;

        (function ($) {
            $(function () {
                $('#nev-contact').parent().addClass('nav-active');

                $table = $('#datatable').dataTable({
                    bProcessing: true,
                    bServerSide: true,
                    sAjaxSource: '@Url.Action("Data")',
                    fnServerParams: function (aoData) {
                        aoData.push({ name: "day", value: @(day.HasValue ? day.Value.ToString() : "null") });
                    },
                    aaSorting: [[0, 'desc']],
                    aoColumns: [
                        null,
                        { bSortable: false },
                        null,
                        null,
                        { sClass: "dt-right" },
                        null,
                        null
                    ],
                    fnCreatedRow: function (row, data, index) {
                        var id = data[0];

                        $(row).find('td').eq(1).html('<img src="@Url.Content("~/Upload/Gallery")/'+ data[1] +'" alt="" width="100" />');

                        var status = data[5];
                        var $switch = $('<div class="switch switch-sm switch-success"><input type="checkbox" id="chk-status-' + id + '"  value="true" data-plugin-ios-switch ' + (status == 'True' ? "checked=checked" : "") + ' /></div>');
                        $switch.find('input[type="checkbox"]').bind('change', { id: id }, function (e) {
                            var t = this;
                            updateStatus(t, e.data.id);
                        }).themePluginIOS7Switch();
                        $(row).find('td').eq(5).addClass('actions').css({ textAlign: 'center' }).html($switch);
                    
                        $(row).data('id', id);
                    },
                    fnDrawCallback: function (settings, json) {
                        
                    }
                 });
            });

            $('#select-day').change(function () {
                var d = $(this).val();

                window.location = '@Url.Action("Index")?day=' + d;
            });

        }).apply(this, [jQuery]);

        function updateStatus(t, id) {
            $.ajax({
                url: '@Url.Action("UpdateStatus")',
                type: 'POST',
                dataType: 'json',
                data: { "id": id, value: t.checked },
                traditional: true,
                success: function () {

                }
            });
        }
    </script>
}

@section styles {
    <style>
        .dt-right {
            text-align: right;
        }
    </style>
}
				