﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button onclick="loginWithFB()">Vote</button>

@section scripts{
    <script>
        async function loginWithFB() {
            let res = await getLoginStatus();

            var fn = function (res) {
                console.log('FB Login', res.authResponse.accessToken);

                $.ajax({
                    url: '@Url.Action("FBLogin", "Account")',
                    type: 'post',
                    dataType: 'json',
                    data: { token: res.authResponse.accessToken},
                    success: function(data) {
                        console.log('Web Login', data);
                    }
                });
            }

            if (res && res.status == 'not_authorized') {
                FB.login(fn);
            } else {
                fn(res);
            }
        }

        function getLoginStatus() {
            return new Promise(function(resolve, reject) {
                FB.getLoginStatus(function (response) {
                    resolve(response);
                });
            });
        }

        //function statusChangeCallback(res) {
        //    console.log(res);

        //    var fn = function (res) {
        //        console.log('FB Login', res);
        //    }

        //    if (res && res.status == 'not_authorized') {
        //        FB.login(fn);
        //    } else {
        //        fn('');
        //    }

        //}
    </script>
}