﻿<!--START CONTENT-->
<div id="about-content" class="page-content">
    <section id="hero-banner">
        <div id="slick">

            <div class="item">
                <video id="vdo-banner" autoplay muted controls loop preload="auto">
                    <source src="@Url.Content("~/assets/video/amway.mp4")" type="video/mp4">
                </video>
            </div>

            <div class="item">
                <img src="@Url.Content("~/assets/img/banner/header-desktop-1.png")" alt="">
            </div>

            <div class="item">
                <img src="@Url.Content("~/assets/img/banner/header-desktop-2.png")" alt="">
            </div>

        </div>
    </section>

    <section id="detail">
        <div class="parallax-container">
            <div class="parallax">
                <img src="@Url.Content("~/assets/img/bg/bg_about.jpg")"></div>

            <div class="content">
                <h2>XS ENERGY
                </h2>
                <p class="text1">
                    เอ็กซ์เอส จุดพลังความท้าทาย
            มานานกว่าทศวรรษ
                </p>
                <p class="text2">
                    ในปี พ.ศ. 2544 เอ็กซ์เอส ถือกำเนิดขึ้นที่ลากูน่าบีช รัฐแคลิฟอร์เนีย ประเทศสหรัฐอเมริกา เพื่อส่งมอบพลังเชิงบวก ผ่านเครื่องดื่มรสชาติแปลกใหม่ เอ็กซ์เอส สร้างสีสันในการทำธุรกิจแอมเวย์ จึงทำให้ยอดขายเติบโตขึ้นอย่างรวดเร็ว และยังเป็นผลิตภัณฑ์ที่น่าสนใจ แก่คนรุ่นใหม่เพื่อเปิดใจหันมาทำธุรกิจแอมเวย์มากขึ้น
                </p>
                <p class="text3">
                    “ เอ็กซ์เอส จุดพลังความท้าทายมานาน<br />
                    กว่าทศวรรษ โดยผ่านนักธุรกิจแอมเวย์ ”
                </p>
                <p class="text4">
                    จนถึงปัจจุบันมีจำหน่ายมากกว่า 55 ประเทศ ทั่วโลกในช่วงทศวรรษที่ผ่านมา เอ็กซ์เอสได้สร้างสถิติที่น่าสนใจมากมาย อาทิ
                </p>
                <ul>
                    <li>• สร้างยอดขายเกือบ 1 พันล้านเหรียญสหรัฐ
                    </li>
                    <li>• มอบผลตอบแทนให้แก่นักธุรกิจแอมเวย์มากกว่า 250 ล้านเหรียญสหรัฐ
                    </li>
                    <li>• มีการกระจายสินค้าผ่านแอมเวย์ไปมากกว่า 500 ล้านกระป๋อง
                    </li>
                    <li>• ขยายตัวไปสู่กลุ่มผลิตภัณฑ์อื่นเพิ่มเติม
                    </li>
                </ul>
                <p class="remark">
                    *แหล่งที่มา : Redwitz & Company, Certified Public Accountants For XS
                </p>
                <p class="map">
                    <img alt="map" src="@Url.Content("~/assets/img/about/map.png")" />
                </p>
            </div>
        </div>
    </section>
</div>
<!--END CONTENT-->

@section scripts {
  <script>
    $(function(){
        $('.parallax').parallax();
    });

  </script>
}

@section styles {
    <link href="~/assets/css/about.css" media="all" rel="stylesheet" type="text/css">
}