﻿
      <!--START CONTENT-->
      <div id="news-content" class="page-content">
        <section id="news">
            <div class="parallax-container">
              <div class="parallax"><img src="@Url.Content("~/assets/img/bg/bg_news_2.jpg")"></div>

              <div class="content">
                <h2>NEWS & ACTIVITY</h2>
                <p class="text1">ข่าวสารและกิจกรรม</p>
                <ul>
                  <li>
                    <p>
                        <a href="http://www.amwaytodaythai.com/digital-tool/digital-tools/ssd-application.html" target="_blank">
                          <img alt="" src="@Url.Content("~/assets/img/exam/SSD-WebBanner.png")">
                        </a>
                    </p>
                    <h4>
                        <a href="http://www.amwaytodaythai.com/digital-tool/digital-tools/ssd-application.html" target="_blank">
                          SSD APPLICATION
                        </a>
                    </h4>
                    <span>
                        พบกับแอพพลิเคชั่นที่ช่วยสร้างโอกาสทางธุรกิจ ให้คุณเปิดใจผู้มุ่งหวังได้สะดวก รวดเร็ว และเข้าใจง่ายยิ่งขึ้น
                    </span>
                  </li>

                  @*<li>
                    <p>
                        <a href="@Url.Content("~/myeverydaywithxs")" ><img alt="" src="@Url.Content("~/assets/img/exam/EverydayXS-WebBanner.png")"></a>
                    </p>
                    <h4><a href="@Url.Content("~/myeverydaywithxs")" >My Everyday with XS</a></h4>
                    <span>
                        ถ้าคุณเป็นคนมีไลฟ์สไตล์ อย่าเก็บไว้คนเดียว เพียงถ่ายภาพไลฟ์สไตล์แบบ XS ในแบบของคุณแล้วมาร่วมสนุกกัน ตั้งแต่ 2  – 15 พ.ย. นี้
                    </span>
                  </li>*@
                </ul>
              </div>
            </div>
        </section>
      </div>
      <!--END CONTENT-->

@section scripts {
  <script>
    $(function(){
        $('.parallax').parallax();
    });

  </script>
}

@section styles {
    <link href="~/assets/css/news.css" media="all" rel="stylesheet" type="text/css">
}