﻿@{
    TimeSpan Ts = DateTime.Today - new DateTime(2018, 11, 2, 0, 0, 0);
    int DayCount = Ts.Days + 1;

    Ts = DateTime.Now - DateTime.Today.AddDays(1);
}

<div id="gallery" class="page-content">
    <div id="display-dim">
        <div id="bg-dim"></div>
        <div id="upload-policy">
            <a id="btn-close-policy" href="#"></a>
            <div id="upload-policy-in">
              <h1 class="title">กฏกติกา และของรางวัล</h1>
              <span class="text1">
                ถ้าคุณเป็นคนมีไลฟ์สไตล์ อย่าเก็บไว้คนเดียว มาปล่อยให้สุดกับกิจกรรม My Everyday with XS 14 วันเต็ม เตรียม XS ในมือของคุณให้พร้อม เพียงถ่ายภาพไลฟ์สไตล์แบบ XS ในแบบของคุณ แล้วอัพโหลดผ่านเว็บไซต์กิจกรรม www.xs.co.th ในวันที่ 2 – 15 พ.ย. 61<br/>
                ผู้ที่ได้รับคะแนน Vote ผ่านเว็บไซต์สูงสุด 10 ท่านในแต่ละวัน รับรางวัล set หมวกและเสื้อสุดคูลแบบคละสีจาก XS มูลค่ารางวัลละ 380 บาท รวมทั้งสิ้น 140 รางวัล (มูลค่ารวม 53,200 บาท)<br/>
                <br/>
                *ทางบริษัทขอสงวนสิทธิ์ในการเลือกขนาดและสีของรางวัลให้แก่ผู้ชนะกิจกรรม
              </span>
              <span class="text2">ระยะเวลาการร่วมสนุก</span>
              <span class="text1">
                2 พ.ย. 61 เวลา 00:00 ถึง 15 พ.ย. 61 เวลา 23.59 น.<br/>
                การนับคะแนนของแต่ละวัน จะเริ่มที่เวลา 00.00 – 23.59 ของวันนั้นๆ
              </span>
              <span class="text2">การประกาศผลรางวัล</span>
              <span class="text1">
                ประกาศรายชื่อผู้ที่ชนะกิจกรรมผ่านทางเว็บไซต์ www.xs.co.th และ Instagram @@XS_Thailand ในวันที่ 22 พ.ย. 61<br/>
                <br/>
                ผู้โชคดีจะต้องยืนยันสิทธิ์ผ่านทาง inbox ของ Instagram @@XS_Thailand ภายในวันที่ 30 พ.ย. 61
              </span>
              <span class="text2">ของรางวัล</span>
              <span class="text1">Top 10 vote ภายในเว็บไซต์ในแต่ละวัน รับ Set ของที่ระลึกสุดคูลจาก XS ประกอบด้วย หมวก 1 ใบ และเสื้อยืด 1 ตัว (ทางบริษัทขอสงวนสิทธิ์ในการเลือกขนาดและสีของรางวัลให้แก่ผู้ชนะกิจกรรม) รวมมูลค่ารางวัลละ 380 บาท รวมทั้งสิ้น 140 รางวัล มูลค่ารวม 53,200 บาท</span>
              <span class="text2">กติกาและขั้นตอนการร่วมสนุก</span>
              <ul class="group-list">
                <li class="list">ถ่ายภาพไลฟ์สไตล์แบบ XS ในแบบของคุณ แล้วอัพโหลดผ่านเว็บไซต์กิจกรรม www.xs.co.th</li>
                <li class="list">แชร์ภาพผ่าน Facebook ของคุณ พร้อมตั้งเป็น public และติด #MyEverydayWithXS #XSThailand #XSperienceMore #XSNation ให้ครบถ้วน</li>
                <li class="list">ชวนเพื่อนของคุณมาโหวตภาพผ่านทางเว็บไซต์ โดยผู้ที่เข้ามาร่วมโหวตจะสามารถลงคะแนนให้กับภาพที่ถูกใจกี่ภาพก็ได้ โดยโหวตได้ภาพละ 1 ครั้ง (1 คะแนน) ต่อวันเท่านั้น</li>
                <li class="list">คะแนนโหวตในเว็บไซต์ทั้งหมด จะถูกตั้งค่าใหม่ในเวลา 00:00 น. ในแต่ละวัน ผู้ที่ได้รับคะแนนโหวตผ่านเว็บไซต์สูงสุด 10 ท่านในแต่ละวัน รับรางวัล set หมวกและเสื้อแบบคละสีจาก XS มูลค่ารางวัลละ 380 บาท รวมทั้งสิ้น 140 รางวัล มูลค่ารวม 53,200 บาท (ขอสงวนสิทธิ์ผู้โชคดี 1 ท่าน ต่อ 1 รางวัลเท่านั้น)</li>
                <li class="list">ทางบริษัทขอสงวนสิทธิ์ในการเลือกขนาดและสีของรางวัลให้แก่ผู้ชนะกิจกรรม</li>
                </ul>

                <span class="text2">เงื่อนไขการรับรางวัลกิจกรรม My Everyday with XS</span>
                <ul class="group-list">
                  <li class="list">ผู้ชนะกิจกรรมจะต้องมารายงานตัวที่ inbox ของ IG: XS_Thailand โดยแจ้ง ชื่อ-นามสกุล เบอร์โทรศัพท์ และกรอกรายละเอียดตามลิงก์ที่ทางบริษัทจัดส่งให้ใน inbox ภายในวันที่ 30 พฤศจิกายน 2561 หลังจากนี้จะถือว่าสละสิทธิ์ในการรับของรางวัล</li>
                  <li class="list">ผู้ชนะกิจกรรมเมื่อรายงานตัวแล้ว จะไม่สามารถเปลี่ยนแปลงข้อมูลและโอนสิทธิ์ของตนเองให้ผู้อื่นได้</li>
                  <li class="list">นักธุรกิจแอมเวย์ สมาชิกแอมเวย์ ลูกค้า และผู้สนใจทั่วไป ที่มีถิ่นพำนักในประเทศไทย มีสิทธิ์ร่วมกิจกรรมนี้ สำหรับพนักงานประจำหรือลูกจ้างของบริษัท แอมเวย์ (ประเทศไทย) จำกัด สามารถร่วมกิจกรรมได้ แต่ไม่สามารถรับรางวัลใดๆ ได้</li>
                  <li class="list">หลักเกณฑ์การพิจารณาของคณะกรรมการ ได้แก่ ผู้ที่ได้รับคะแนน vote สูงสุด 10 ท่านในแต่ละวันผ่านทางเว็บไซต์ และแชร์ภาพผ่าน Facebook ของตนเอง โดยต้องทำถูกต้องตามกติกาทุกข้อเท่านั้น</li>
                  <li class="list">สำหรับรางวัล Top vote 10 ท่านต่อวัน ขอสงวนสิทธิ์ผู้โชคดี 1 ท่าน ต่อ 1 รางวัลเท่านั้น หากผู้ได้รับคะแนนโหวตสูงสุดเป็นรายชื่อซ้ำกับวันอื่นๆ ทางบริษัทขอสงวนสิทธิ์ในการมอบรางวัลให้ลำดับถัดไป</li>
                  <li class="list">ทางบริษัทขอสงวนสิทธิ์ในการเลือกขนาดและสีของรางวัลให้แก่ผู้ชนะกิจกรรม และของรางวัลไม่สามารถแลก หรือเปลี่ยนเป็นเงินสดหรือของรางวัลอื่นๆ ได้ รวมทั้งไม่สามารถโอนสิทธิ์ในการรับของรางวัลให้แก่บุคคลอื่น</li>
                  <li class="list">ของรางวัลจะจัดส่งให้ผู้ชนะกิจกรรมทางไปรษณีย์ตามที่อยู่ที่แจ้งรายงานตัวผ่าน inbox ของ IG: XS_Thailand โดยบริษัทจะเริ่มทยอยจัดส่งของรางวัลในวันที่ 20 ธ.ค. 61 เป็นต้นไป</li>
                  <li class="list">ทางบริษัทไม่มีหน้าที่รับผิดชอบกรณีที่ผู้ชนะกิจกรรมแจ้งรายละเอียดที่อยู่ในการส่งมอบของรางวัลผิดพลาด และไม่สามารถจัดส่งของรางวัลให้อีกครั้ง</li>
                  <li class="list">ผู้ร่วมกิจกรรมรับทราบและยินยอมให้บริษัท แอมเวย์ (ประเทศไทย) จำกัด มีสิทธิ์ในการเข้าถึงข้อมูลส่วนบุคคลจากรายละเอียดที่ผู้ร่วมกิจกรรมได้เปิดเป็นสาธารณะไว้ใน Social network (Facebook หรือ Instagram) ของผู้ร่วมกิจกรรม</li>
                  <li class="list">ผู้ร่วมกิจกรรมต้องเป็นเจ้าของเดียวกับบัญชี Facebook หรือ Instagram และ Social Media อื่นๆ ที่ร่วมกิจกรรม โดยไม่สามารถโอนสิทธิ์ให้กับผู้อื่นได้ ทั้งนี้ Social Account ดังกล่าวต้องสามารถระบุตัวตนได้จริงและมีการใช้งานจริงตามปกติทั่วไป โดยมิได้สร้างบัญชี Social Account ขึ้นมาเพื่อการร่วมกิจกรรมนี้เท่านั้น หากพบว่ามีการกระทำใดๆ ที่ส่อแววทุจริต บริษัทฯ ขอสงวนสิทธิ์ในการงดมอบรางวัลดังกล่าวเป็นกรณีไป</li>
                  <li class="list">บริษัท แอมเวย์ (ประเทศไทย) จำกัด ขอสงวนสิทธิ์ในการนำรายละเอียดของผู้ร่วมกิจกรรม และผู้ชนะรางวัลที่ได้รับรางวัล รวมถึงภาพนิ่งและภาพเคลื่อนไหวจากการร่วมกิจกรรมและรับรางวัล เผยแพร่เพื่อประชาสัมพันธ์ในช่องทางการสื่อสารต่างๆ ทุกช่องทาง เพื่อประโยชน์สำหรับธุรกิจของบริษัทฯ ตามแต่บริษัทฯ เห็นสมควร โดยผู้ร่วมกิจกรรมและผู้ชนะรางวัลที่รับรางวัลไม่สามารถเรียกร้องค่าใช้จ่ายใดๆ จากบริษัท แอมเวย์ (ประเทศไทย) จำกัด</li>
                  <li class="list">ทางบริษัทขอสงวนสิทธิ์ ไม่อนุญาตให้มีการอวดอ้างสรรพคุณสินค้าเกินจริง รวมถึงห้ามใช้ภาพเด็กและสตรีมีครรภ์ ซึ่งขัดกับคำเตือนการบริโภคข้างฉลากผลิตภัณฑ์</li>
                  <li class="list">ผู้ร่วมกิจกรรมจะต้องทำความเข้าใจถึงกติกา เงื่อนไข และปฏิบัติตามขั้นตอนการร่วมกิจกรรมอย่างเคร่งครัด หากตรวจพบถึงการกระทำใดๆ ที่ถือเป็นการแสดงเจตนาร่วมกิจกรรมที่ไม่เป็นไปตามกติกา หรือทุจริต จะถูกตัดสิทธิ์โดยไม่ต้องแจ้งให้ทราบล่วงหน้า</li>
                  <li class="list">บริษัทฯ ไม่มีหน้าที่รับผิดชอบกรณีเกิดข้อขัดข้องของเครือข่ายระบบคอมพิวเตอร์ หรืออุปกรณ์ต่อพ่วงจนเป็นเหตุให้เกิดความสูญหายในระยะเวลาของการจัดกิจกรรม</li>
                  <li class="list">ทางบริษัท แอมเวย์ (ประเทศไทย) จำกัด ขอสงวนสิทธิ์ในการเปลี่ยนแปลงเงื่อนไขและของรางวัลโดยไม่ต้องแจ้งให้ทราบล่วงหน้า และขอสงวนสิทธิ์ในการพิจารณาข้อพิพาท คำตัดสินของคณะกรรมการบริษัท แอมเวย์ (ประเทศไทย) จำกัด ถือเป็นที่สิ้นสุด</li>
                </ul>
              <span class="text2">การติดต่อสอบถามรายละเอียดเพิ่มเติม</span>
              <span class="text1">สอบถามรายละเอียดเพิ่มเติมได้ที่ IG: XS_Thailand ตามวันและเวลาทำการของบริษัท</span>
            </div>
        </div>

        <div id="display-hl">
            <div id="display-hl-in">
                <div class="hl-hd-title"></div>
                <div id="display-hl-img">
                    <img class="hl-img" src="@Url.Content("~/assets/img/gallery/desktop/img02.png")" />
                    <div class="row1">
                        <a class="group-vote" href="javascript:">
                            <img class="ico-vote" src="@Url.Content("~/assets/img/gallery/desktop/ico-vote.png")">VOTE<span class="separator">|</span><span class="vote-count">0</span>
                        </a>
                        <a class="btn-share" href="#">
                            <img class="ico-share" src="@Url.Content("~/assets/img/gallery/desktop/ico-share.png")">SHARE</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row2">
                        <span class="title">กระโดดไปพร้อมกับ XS เพื่อความมันส์!!</span>
                        <span class="tags">#MYEVERYDAYWITHXS #XSTHAILAND #XSNATION #XSPERIENCEMORE</span>
                    </div>
                    <div class="row3">
                        <span class="text1">BY</span>
                        <span class="owner-posted">MUGI</span>
                        <span class="date-post">14/11/2018</span>
                    </div>
                </div>
            </div>
        </div>

        <div id="display-login-with-fb">
            <a id="btn-login-with-fb" href="#"></a>
        </div>

        <div id="display-upload">
            <div id="step1" class="display-step">
                <img class="upload-step" src="@Url.Content("~/assets/img/gallery/desktop/upload-step01.png")">
                <div class="display-step-in">
                    <div class="hl-hd-title"></div>
                    <div id="display-crop"></div>
                    <span class="text1">อัพโหลดภาพของคุณกับ XS ตามสไตล์คุณ</span>
                    <div class="group-btn">
                        <div id="btn-start-upload-img">
                            <form id="form-crop" runat="server">
                                <input id="imgInp-crop" type='file'  />
                            </form>
                        </div>
                        <a id="btn-crop" href="#"></a>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div id="step2" class="display-step">
                <img class="upload-step" src="@Url.Content("~/assets/img/gallery/desktop/upload-step02.png")">
                <div class="display-step-in">
                    <div class="hl-hd-title"></div>
                    <img id="croped-new-img" src="@Url.Content("~/assets/img/gallery/desktop/img02.png")" />
                    <!-- <div id="display-croped-new-img"></div> -->
                    <textarea placeholder="บอกเราหน่อยว่าภาพนี้แสดงตัวตนของคุณ กับ XS อย่างไร...." id="img-message"></textarea>
                    <div class="group-btn">
                        <a id="btn-edit-img" href="#"></a>
                        <a id="btn-send-img" href="#"></a>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div id="step3" class="display-step">
                <img class="upload-step" src="@Url.Content("~/assets/img/gallery/desktop/upload-step03.png")">
                <div class="display-step-in">
                    <div class="hl-hd-title"></div>
                    <div id="display-activityshare">
                        @*<img class="hl-img" src="@Url.Content("~/assets/img/gallery/desktop/img02.png" />*@
                        <img id="bg-ativityshare" src="@Url.Content("~/assets/img/gallery/desktop/bg-ativityshare.png")">
                    </div>
                    <span class="title">
                        *อย่าลืมแชร์ภาพ<br/>ใน Facebook ของคุณ พร้อมติด
                    </span>
                    <span class="tags">#MyEverydayWithXS #XSThailand #XSNation #XSperienceMore
                    </span>
                    <span class="title">
                        และตั้งค่าโพสต์เป็น Public <br/>เพื่อลุ้นรับรางวัลค่ะ
                    </span>
                    <div class="display-btn-share">
                        <a class="btn-share" href="#">
                            <img class="ico-share" src="@Url.Content("~/assets/img/gallery/desktop/ico-share.png")">SHARE</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <section id="display-banner">
        <div id="banner"></div>
    </section>
    <section id="display-upload-datetime">
        <div id="upload-datetime">
            <div id="datetime-countdown">
                <div id="datetime-countdown-in">
                    <div class="row1">วันที่ 14 เหลือเวลาอีก</div>
                    <div class="row2">
                        <div class="hours">
                            <div id="c-hours" class="number">00</div>
                            <div class="unit">HOURS</div>
                        </div>
                        <div class="colon">:</div>
                        <div class="minutes">
                            <div id="c-minutes" class="number">00</div>
                            <div class="unit">MINUTES</div>
                        </div>
                        <div class="colon">:</div>
                        <div class="seconds">
                            <div id="c-seconds" class="number">00</div>
                            <div class="unit">SECONDS</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <a id="btn-upload-photo" href="#"></a>
            <span class="text1">
                ผู้ชนะคะแนนโหวตสูงสุดผ่านทาง WWW.XS.CO.TH<br/>
                ในแต่ละวันรับรางวัลสุดคูลจาก XS วันละ 10 ท่าน<br />
                รวมทั้งสิ้น 140 รางวัล! ประกาศผลวันที่ 22 พ.ย. 61
            </span>
            <div class="clearfix"></div>
        </div>
    </section>
   
    <section id="display-sortby" style="display:none;">
        <div id="sortby">
            <a id="btn-policy-upload-photo" href="#"></a>
            <div id="group-sortby">
                <span class="text1">เรียงตามภาพล่าสุด</span>
                <img class="icon-search-2" src="@Url.Content("~/assets/img/gallery/desktop/ico-search-2.png")" />
                <select id="sortby-value">
                    <option value="date" selected>เรียงตามภาพล่าสุด</option>
                    <option value="vote">เรียงตามคะแนนโหวต</option>
                </select>
            </div>
            <div id="group-search-name">
                <input id="search-name" type="text" value="" placeholder="ค้นหา" />
                <img class="icon-search" src="assets/img/gallery/desktop/ico-search.png" />
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    
    <section id="display-list-gallery">
        <span class="head-title">GALLERY</span>
        <div id="list-gallery">
            <ul id="list" class="group-list">
                
            </ul>
            <div class="clearfix"></div>
        </div>
        <div id="loading">
            <img src="@Url.Content("~/assets/img/icon/loading.gif")" style="max-height:40px;" />
        </div>

    </section>

</div>

@section scripts {
<script src="~/assets/js/exif.js"></script>
<script src="~/assets/js/croppie.min.js"></script>
<script src="~/assets/js/jquery.mousewheel.js"></script>
<script src="~/assets/js/jquery.jscrollpane.min.js"></script>

<script>
    $(function () {
        $("#sortby-value").change(function () {
            var text = this.options[this.selectedIndex].text;
            $("#group-sortby .text1").html(text);
        });

        $("#bg-dim, #display-hl").click(function () {
            $("#display-login-with-fb").hide();
            $("#upload-policy").hide();
            $("#display-dim").hide();
            $("#display-hl").hide();
            $("#display-upload").hide();

            $("#step1").hide();
            $("#step2").hide();
            $("#step3").hide();
        });

        $("#btn-policy-upload-photo").click(function () {
            $("#display-dim").show();
            $("#upload-policy").show();

            if($(window).width() > 750){
                $('#upload-policy-in').jScrollPane();
            }
        });

        $("#btn-close-policy").click(function () {
            $("#display-dim").hide();
            $("#upload-policy").hide();
        });

        $("#btn-upload-photo").click(function () {
            showMessage('ขณะนี้หมดเวลาในการร่วมสนุกแล้ว<br />ติดตามประกาศผลรายชื่อผู้โชคดีทาง<br />IG: XS_Thailand<br />ในวันที่ 22 พ.ย.นี้');

            return;

            showLoading();

            FB.getLoginStatus(function (response) {
                console.log(response);

                if (response.status != 'connected') {
                    $("#display-dim").show();
                    $("#display-login-with-fb").show();

                    hideLoading();
                } else {
                    window.sessionStorage.setItem('token', response.authResponse.accessToken);

                    FB.api('/me', function(response) {
                        userName = response.name;

                        showMessage('ทางบริษัทขอสงวนสิทธิ์<br />ไม่อนุญาตให้มีการอวดอ้างสรรพคุณสินค้าเกินจริง<br />รวมถึงห้ามใช้ภาพเด็กและสตรีมีครรภ์<br />ซึ่งขัดกับคำเตือนการบริโภคข้างฉลากผลิตภัณฑ์');

                        $("#display-login-with-fb").hide();
                        $("#display-dim").show();
                        $("#display-upload").show();
                        $("#display-upload #step1").show();

                        hideLoading();
                    });
                }
            });

            //FB.getLoginStatus(function (response) {
            //    if (res && res.status != 'connected') {
            //        $("#display-dim").show();
            //        $("#display-login-with-fb").show();
            //    } else {
            //        $("#display-login-with-fb").hide();
            //        $("#display-upload").show();
            //        $("#display-upload #step1").show();
            //    }
            //});
        });

        $("#list-gallery .image").click(function () {
            $("#display-dim").show();
            $("#display-hl").show();
        });

        $("#btn-login-with-fb").click(function () {
            var fn = function (res) {
                console.log('FB Login', res.authResponse.accessToken);

                showLoading();

                $.ajax({
                    url: '@Url.Action("FBLogin", "Account")',
                    type: 'post',
                    dataType: 'json',
                    data: { token: res.authResponse.accessToken},
                    success: function(data) {
                        userName = data.Name;

                        $("#display-login-with-fb").hide();
                        $("#display-upload").show();
                        $("#display-upload #step1").show();

                        hideLoading();
                    }
                });
            }

            FB.login(fn);

        });


        $("#btn-crop").click(function () {
            // $('#croped-new-img').croppie('bind');

            $('#display-crop').croppie('result', {
                type: 'rawcanvas',
                size: { width: 444, height: 444 },
                format: 'png',
                backgroundColor: '#FFFFFF'
            }).then(function (canvas) {
                $('#croped-new-img').attr('src', canvas.toDataURL('image/png'));

                @*// share photo 
                var newCanvas = document.createElement('canvas');
                var context = newCanvas.getContext('2d');

                newCanvas.width = 1200;
                newCanvas.height = 630;

                var frame = new Image(newCanvas.width, newCanvas.height);
                frame.onload = function () {
                    // ctx.fillStyle = "White";
                    // ctx.fill();

                    context.drawImage(canvas, 64, 58, 509, 509);
                    context.drawImage(frame, 0, 0);

                    ctx.font = '32px ThaiSans Neue';
                    ctx.fillText(userName, 600, 300);

                    $('#bg-ativityshare').attr('src', newCanvas.toDataURL('image/png'));
                };

                frame.src = '@Url.Content("~/assets/img/gallery/desktop/bg-ativityshare.png")';*@
            });


            $("#step1").hide();
            $("#step2").show();
        });


        $("#btn-edit-img").click(function () {
            $("#step2").hide();
            $("#step1").show();
        });

        //$("#btn-send-img").click(function () {
        //    $("#step2").hide();
        //    $("#step3").show();
        //});

        $("#imgInp-crop").change(function () {
            readURL(this);
        });

    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var $dp = $('#display-crop');
                var $div = $('<div></div>');


                $div.croppie({
                    type: 'canvas',
                    url: e.target.result,
                    enableExif: true,
                    viewport: {
                        width: 444,
                        height: 444
                    }
                });

                $dp.after($div);

                $dp.remove();

                $div.attr('id', 'display-crop');
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>

<script>
    function el(id) { return document.getElementById(id) };

    var userName = '';
    var $list = null;
    var isFetch = false;
    var depleted = false;
    var photoCount = 0;

    var uploading = false;
    var imageVote = '@(Url.Content("~/assets/img/gallery/desktop/ico-none-vote.png"))';
    var imageVoted = '@(Url.Content("~/assets/img/gallery/desktop/ico-vote.png"))';
    var shareURL = 'https://www.facebook.com/sharer/sharer.php?u=@("https:" + Website.WebConfig.BaseURL + "gallery/photo/")';

    @*async function loginWithFB(cb) {
        let res = await getLoginStatus();

        var fn = function (res) {
            console.log('FB Login', res.authResponse.accessToken);

            $.ajax({
                url: '@Url.Action("FBLogin", "Account")',
                type: 'post',
                dataType: 'json',
                data: { token: res.authResponse.accessToken},
                success: function(data) {
                    if (cb && typeof cb == 'function') cb();
                }
            });
        }

        if (res && res.status != 'connected') {
            FB.login(fn);
        } else {
            fn(res);
        }
    }*@

    function openShare(id) {
        gtag('event', 'share', {
            'event_category' : 'gallery',
            'event_label' : id,
            'value' : id
        });

        window.open(shareURL + id, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600'); return false;
    }

    function voted() {
        showMessage('คุณสามารถโหวตได้ภาพละ 1 ครั้ง <br />(1 คะแนน) ต่อวันเท่านั้นค่ะ');
    }

    function fbLogin() {
        return new Promise(function(resolve, reject) {
            FB.login(function (response) {
                resolve(response);
            });
        });
    }

    function getLoginStatus() {
        return new Promise(function(resolve, reject) {
            FB.getLoginStatus(function (response) {
                resolve(response);
            });
        });
    }

    function vote(id, target, ref) {
        // console.log('vote', ref);

        showLoading();

        var fn = function (res, id, target, ref) {
            console.log('Vote', id, res.authResponse.accessToken);

            $.ajax({
                url: '@Url.Action("Vote")',
                type: 'post',
                dataType: 'json',
                data: { token: res.authResponse.accessToken, id: id},
                success: function(data) {
                    console.log('Vote Success', data);

                    hideLoading();

                    if (data.error) {
                        // alert('คุณสามารถโหวตได้ภาพละ 1 ครั้ง (1 คะแนน) ต่อวันเท่านั้นค่ะ');

                        // showMessage('คุณสามารถโหวตได้ภาพละ 1 ครั้ง <br />(1 คะแนน) ต่อวันเท่านั้นค่ะ');

                        voted();

                        return false;
                    }

                    //var $target = $(target);
                    target.find('.vote-count').text(data.count);
                    target.find('.ico-vote').attr('src', imageVoted);

                    if (ref) {
                        //var $ref = $(ref);

                        ref.find('.vote-count').text(data.count);
                        ref.find('.ico-vote').attr('src', imageVoted);
                    }
                   
                }
            });
        }

        FB.getLoginStatus(function (response) {
            if (response && response.status != 'connected') {

                FB.login(function (response) {
                    fn(response, id, target, ref);
                });
            } else {
                fn(response, id, target, ref);
            }
        });
    }

    function uploadImage() {
        if (uploading)
            return false;


        showLoading();

        uploading = true;


        var image = $('#croped-new-img').attr('src');
        var shareImage = $('#bg-ativityshare').attr('src');
        var caption = $('#img-message').val();

        FB.getLoginStatus(function (response) {
            console.log(response);

            if (response.status != 'connected') {
                alert('Permission denined.');
            } else {
                var token = response.authResponse.accessToken;

                $.ajax({
                    url: '@Url.Action("UploadImage")',
                    type: 'post',
                    dataType: 'json',
                    data: { token: token, image: image, caption: caption, shareImage: shareImage },
                    success: function (res) {
                        $("#step2").hide();
                        $("#step3").show().find('.btn-share').unbind('click').bind('click', { item: res }, function (e) {
                            openShare(e.data.item.PhotoID);
                        });

                        setGallery();

                        var $dp = $('#display-crop');
                        var $div = $('<div></div>');

                        $dp.after($div);

                        $dp.remove();

                        $div.attr('id', 'display-crop');

                        $('#img-message').val('');

                        uploading = false

                        hideLoading();
                    }
                });
            }
        });
    }

    function bindPopup(d, $vote) {
        var $box = $("#display-hl");

        $box.find('.hl-img').attr('src', '@Url.Content("~/Upload/Gallery/")' + d.FileName);
        $box.find('.vote-count').text(d.Vote);
        $box.find('.title').text(d.Caption);

        $box.find('.owner-posted').text(d.Account.Name);
        $box.find('.date-post').text(dotnetDate(d.CreateDate));

        $box.find('.ico-vote').attr('src', d.Voted ? imageVoted : imageVote );

        if (!d.Voted) {
            $box.find('.group-vote').unbind('click').bind('click', { item: d }, function (e) {
                vote(d.PhotoID, $box.find('.group-vote'), $vote);
            });
        } else {
            $vote.bind('click', { item: d }, function (e) {
                voted();
            });
        }

        $box.find('.btn-share').unbind('click').bind('click', { item: d }, function (e) {
            //window.open(shareURL + e.data.item.PhotoID, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600'); return false;
            openShare(e.data.item.PhotoID);
        });

        $("#display-dim").show();

        $box.show();
    }

    function getGalleryItem(item) {
        var $img = $('<img class="image" style="width:250px;" />').attr('src', '@Url.Content("~/Upload/Gallery/")' + item.FileName);
        var $title = $('<span class="title" />').text(item.Caption);
        var $tags = $('<span class="tags" />').text('#MYEVERYDAYWITHXS #XSTHAILAND #XSNATION #XSPERIENCEMORE');

        var $vote = $('<a class="group-vote" href="javascript:"><img class="ico-vote" src="' + (item.Voted ? imageVoted : imageVote) + '">VOTE<span class="separator">|</span><span class="vote-count">' + item.Vote + '</span></a>');
        var $share = $('<a class="btn-share" href="javascript:" target="_blank" ><img class="ico-share" src="@(Url.Content("~/assets/img/gallery/desktop/ico-share.png"))">SHARE</a><div class="clearfix"></div>');
        var $clearfix = $('<div class="clearfix"></div>');

        var $row1 = $('<div class="row1" />')
            .append($vote)
            .append($share)
            .append($clearfix);

        var $text1 = $('<span class="text1">BY</span>');
        var $owner = $('<span class="owner-posted" />').text(item.Account.Name);
        var $date = $('<span class="date-post" />').text(dotnetDate(item.CreateDate));

        var $row2 = $('<div class="row2" />')
            .append($text1)
            .append($owner)
            .append($date);

        var $box = $('<div class="block">')
            .append($img)
            .append($title)
            .append($tags)
            .append($row1)
            .append($row2);

        var $el = $('<li class="list" />').append($box);

        if (!item.Voted) {
            $vote.bind('click', { item: item }, function (e) {
                vote(e.data.item.PhotoID, $(e.target));
            });
        } else {
            $vote.bind('click', { item: item }, function (e) {
                voted();
            });
        }

        $share.bind('click', { item: item }, function (e) {
            //window.open(shareURL + e.data.item.PhotoID, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600'); return false;
            openShare(e.data.item.PhotoID);
        });

        $img.bind('click', { item: item }, function (e) {
            bindPopup(e.data.item, $vote);
        });

        return $el;
    }

    function getGallery() {
        console.log('getGallery', depleted, isFetch);

        if (!depleted && !isFetch) {
            if (typeof window.FB == 'undefined') return false;

            isFetch = true;

            FB.getLoginStatus(function (response) {
                console.log(response);

                var token = '';
                var order = $('#sortby-value').val();
                var keyword = $('#search-name').val().trim();

                if (response.status == 'connected') {
                    token = response.authResponse.accessToken;
                }

                $.ajax({
                    url: '@Url.Action("Images")',
                    type: 'post',
                    dataType: 'json',
                    data: { order: order, count: photoCount, keyword: keyword, token: token },
                    success: function (res) {
                        photoCount += res.length;

                        if (res.length < 9) {
                            depleted = true;
                            $('#loading').hide();
                        }

                        for (var i = 0; i < res.length; i++) {
                            var item = res[i];

                            $list.append(getGalleryItem(item));
                        }

                        isFetch = false;
                    }
                });
                
            });
        }
    }

    function setGallery() {
        photoCount = 0;
        depleted = false;
        
        $list.empty();

        $('#loading').show();

        getGallery();
    }

    function showGalleryPopup() {
        if (window.location.hash.indexOf('#p-') == 0) {
            var id = parseInt( window.location.hash.replace('#p-', '') );

            if (id == isNaN)
                return false;

            showLoading();

        }

            FB.getLoginStatus(function (response) {
                console.log(response);

                var token = '';

                if (response.status == 'connected') {
                    token = response.authResponse.accessToken;
                }

                $.ajax({
                    url: '@Url.Action("Image")',
                    type: 'post',
                    dataType: 'json',
                    data: { id: id, token: token },
                    success: function (res) {
                        if (res.error) 
                            return false;

                        bindPopup(res);

                        window.location.hash = '';

                        hideLoading();
                    }
                });
                
            });
        
    }

    $(function () {
        showMessage('ขณะนี้หมดเวลาในการร่วมสนุกแล้ว<br />ติดตามประกาศผลรายชื่อผู้โชคดีทาง<br />IG: XS_Thailand<br />ในวันที่ 22 พ.ย.นี้');

        $(window).scroll(function () {
            if ($(window).scrollTop() + 150 > $(document).height() - $(window).height()) {
                getGallery();
            }
        });

        function wrapText(context, text, x, y, maxWidth, lineHeight) {
            var cars = text.split("\n");

            for (var ii = 0; ii < cars.length; ii++) {

                var line = "";
                var words = cars[ii].split(" ");

                for (var n = 0; n < words.length; n++) {
                    var testLine = line + words[n] + " ";
                    var metrics = context.measureText(testLine);
                    var testWidth = metrics.width;

                    if (testWidth > maxWidth) {
                        context.fillText(line, x, y);
                        line = words[n] + " ";
                        y += lineHeight;
                    }
                    else {
                        line = testLine;
                    }
                }

                context.fillText(line, x, y);
                y += lineHeight;
            }
        }

        $("#display-hl-in").click(function (event) {
            event.stopPropagation();
        });
        
        $("#btn-send-img").click(function () {
            // share photo 
            var newCanvas = document.createElement('canvas');
            var context = newCanvas.getContext('2d');

            newCanvas.width = 1200;
            newCanvas.height = 630;

            var frame = new Image(newCanvas.width, newCanvas.height);
            frame.onload = function () {
                // ctx.fillStyle = "White";
                // ctx.fill();
            
                context.drawImage(document.getElementById('croped-new-img'), 64, 58, 509, 509);
                context.drawImage(frame, 0, 0);

                // caption 
                var caption = $('#img-message').val();

                caption += '\n';

                caption += '#MYEVERYDAYWITHXS #XSTHAILAND #XSNATION #XSPERIENCEMORE';

                context.font = '48px ThaiSans Neue';
                context.fillStyle = '#fff';
                wrapText(context, caption, 650, 300, 500, 50);
                // context.fillText(caption, 650, 200);

                context.fillText('By', 650, 560);

                context.font = '60px ThaiSans Neue';
                context.fillStyle = '#c53ec3';
                context.fillText(userName, 720, 560);

                $('#bg-ativityshare').attr('src', newCanvas.toDataURL('image/png'));

                uploadImage();
               
            }

            frame.src = '@Url.Content("~/assets/img/gallery/desktop/bg-ativityshare.png")';
        });

        $('#sortby-value').change(function () {
            setGallery();
        });

        $('.icon-search').click(function () {
            setGallery();
        });

        $('#search-name').keypress(function (e) {
            if (e.which == 13) {
                setGallery();
            }
        });

        $('#modal2').click(function () {
            $(this).hide();
        });

        $list = $('#list');

        //setGallery();
    });

    function showMessage(msg) {
        var m = $('#modal2');

        m.find('span').html(msg);

        m.show();
    }

    function showLoading() {
        $('#modal1').show();
    }

    function hideLoading() {
        $('#modal1').hide();
    }

    // alert('Amway');

    (function isFacebookApp() {
        var ua = navigator.userAgent || navigator.vendor || window.opera;
        var isapp = (ua.indexOf("FBAN") > -1) || 
            (ua.indexOf("FBAV") > -1) || 
            (ua.indexOf("FB_IAV") > -1) ||
            (ua.indexOf("Line") > -1);

        // alert(ua);

        // document.appendChild('<div>'+ua+'</div>');

        if (isapp) {
            // alert('กรุณาใช้ Google Chrome หรือ Safari ในการร่วมเล่นกิจกรรม My Everyday with XS');

            showMessage('กรุณาใช้ Google Chrome หรือ Safari <br />ในการร่วมเล่นกิจกรรม<br />My Everyday with XS');
        }

        return isapp;
    })();

    // isFacebookApp();

    
    //var __seconds = @(Math.Floor(-Ts.TotalSeconds));
    /*
    var x = setInterval(function () {
        __seconds -= 1

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(__seconds / (60 * 60 * 24));
        var hours = Math.floor((__seconds % (60 * 60 * 24)) / (60 * 60));
        var minutes = Math.floor((__seconds % (60 * 60)) / (60));
        var seconds = Math.floor(__seconds % (60));

        // Display the result in the element with id="demo"
        //document.getElementById("demo").innerHTML = days + "d " + hours + "h "
        //+ minutes + "m " + seconds + "s ";


        document.getElementById("c-hours").innerHTML = hours;
        document.getElementById("c-minutes").innerHTML = minutes;
        document.getElementById("c-seconds").innerHTML = seconds;

        // If the count down is finished, write some text 
        if (__seconds < 0) {
            clearInterval(x);
            
            window.location.reload();
        }
    }, 1000);
    */
</script>
}

@section styles {
    <link href="~/assets/css/croppie.css" media="all" rel="stylesheet" type="text/css">
    <link href="~/assets/css/gallery.css" media="all" rel="stylesheet" type="text/css">
    <link href="~/assets/css/jquery.jscrollpane.css" media="all" rel="stylesheet" type="text/css">

    <style>
        /*.croppie-container .cr-slider-wrap {
            width: 90%;
            margin: 30px auto;
        }

        #gallery #display-dim #display-upload .display-step .display-step-in .text1 {
            padding: 58px 0 25px;
        }*/

        .group-vote .separator { padding: 0 10px; }

        #gallery #display-list-gallery #list-gallery .group-list .list .block .title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            line-height: 30px;
            min-height: 30px;
        }

        #gallery #display-dim #display-upload .display-step {
            width: 568px;
        }

        /*#gallery #display-dim #display-upload #step1 .display-step-in #display-crop,  
        #gallery #display-dim #display-upload .display-step .display-step-in img {
            transform: translate(-50%,0);
            left: 50%;
            position: relative;
        }*/

        #gallery #display-dim #display-upload .display-step .display-step-in .hl-hd-title {
            background-position: center center;
        }

        /*#gallery #display-dim #display-upload #step1 .display-step-in .group-btn {
            padding: 0 40px 20px 40px;
        }*/

        #gallery #display-dim #display-upload .display-step .display-step-in {
            border: solid 2px #d2d2d2;
                padding: 0 60px;
        }

        #gallery #display-sortby #sortby #group-search-name .icon-search {
            left: auto;
            right: 4px;
        }

        #gallery #display-dim #display-hl #display-hl-in #display-hl-img .row2 .title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            line-height: 40px;
            min-height: 40px;
        }

        #gallery #display-dim #display-hl #display-hl-in #display-hl-img .row2 .tags {
            font-size: 18px;
        }

        #gallery #display-list-gallery #list-gallery .group-list .list .block .row2 .owner-posted {
            color: #c53ec3;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 170px;
            display: inline-block;
        }

        .group-vote > * {
            pointer-events: none;
        }

        .modal {
            position: fixed;
            width: 100%;
            height: 100%;
            min-height:100%;
            z-index: 99999;
            background-color: rgba(0, 0, 0, 0.5);
            top: 0;
            left: 0;
        }

        .modal .loading, .modal .message {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            width: 100px;
        }

        .modal .message {
            width: 500px;
            text-align: center;
            padding: 25px;
            background-color: rgba(30, 10, 45, 1);
            border-radius: 20px;
            color: #FFFFFF;
            font-size: 40px;
            pointer-events: none;
        }

        .modal button {
            background-color: transparent;
            border: none;
            font-size: 30px;
            color:#57d2fc;
        }

        .modal .loading img {
            width: 100%;
        }

        @@media screen and (max-width: 900px) {
            #gallery #display-dim #display-upload #step1, #gallery #display-dim #display-upload #step2, #gallery #display-dim #display-upload #step3 {
                transform: scale(1);
            }
            #gallery #display-dim #display-upload #step1 .display-step-in .text1 {
                font-size: 34px !important;
            }
            #gallery #display-list-gallery #list-gallery .group-list .list .block .row2 .owner-posted {
                max-width: 500px;
            }
        }
    </style>
}

@section Metas {
    <meta property="og:url"           content="@("https:"+Website.WebConfig.BaseURL+"gallery")" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="ร่วมสนุกกับกิจกรรม My Everyday with XS" />
    <meta property="og:description"   content="หากคุณมีไลฟ์สไตล์เท่ๆ อย่าเก็บไว้คนเดียว! รางวัลสุดคูลรออยู่" />
    <meta property="og:image"         content="@("https:" + Website.WebConfig.BaseURL + "assets/img/banner/XS_KV-activity_BannerWeb.png")" />
    <meta property="og:image:width"   content="1200" />
    <meta property="og:image:height   content="628" />
    <meta property="fb:app_id"        content="@Website.WebConfig.FacebookApplicationID" />
}