﻿@using Website
@using Website.Models

@model PhotoModel

@{
    Layout = "";
}


<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <title>Amway XS</title>

  <meta property="og:url"           content="@("https:" + Website.WebConfig.BaseURL + "gallery/photo/" + Model.PhotoID)" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="คลิกโหวตให้คุณ @Model.Account.Name" />
  <meta property="og:description"   content="แล้วมาร่วมส่งภาพไลฟ์สไตล์แบบ XS ให้สุดขั้ว เพื่อรับรางวัลสุดคูลจาก XS ไปด้วยกัน ตั้งแต่ 2  - 15 พ.ย. นี้" />
  <meta property="og:image"         content="@("https:" + Website.WebConfig.BaseURL + "Upload/Gallery/share_" + Model.FileName)" />
  <meta property="fb:app_id"        content="@Website.WebConfig.FacebookApplicationID" />
</head>
<body>
    <script>
        window.location = '@(Url.Content("~/myeverydaywithxs") + "#p-" + Model.PhotoID)';
    </script>
</body>
</html>
