﻿@model long

@{
    ViewBag.Title = "Change Password";
}

<div class="row">
    <div class="col-lg-12">
	   
        <form id="form" action="@Url.Action("ChangePassword")" class="form-horizontal" novalidate="novalidate" method="post" enctype="multipart/form-data">
            @Html.Hidden("id", Model)

			<section class="panel">
				<header class="panel-heading">
					<h2 class="panel-title">Change Password</h2>
				</header>
				<div class="panel-body">
                    @if (!string.IsNullOrEmpty(ViewBag.Error)) {
                    <div class="validation-message">
						<ul style="display: block;">
                            <li><label class="error" style="display: inline-block;">@ViewBag.Error</label></li>
                        </ul>
					</div>
                    }


                    <div class="form-group">
						<label class="col-sm-3 control-label">Password <span class="required">*</span></label>
						<div class="col-sm-3">
							<input type="password" class="form-control" placeholder="" name="password" id="inputPassword" required>
						</div>
					</div>

                    
                    <div class="form-group">
						<label class="col-sm-3 control-label">Confirm Password <span class="required">*</span></label>
						<div class="col-sm-3">
							<input type="password" class="form-control" placeholder="" name="confirmPassword" id="confirmPassword" required>
						</div>
					</div>

				</div>
				<footer class="panel-footer">
					<div class="row">
						<div class="col-sm-9 col-sm-offset-3">
							<button class="btn btn-primary">Submit</button>
							<a class="btn btn-default" href="@Url.Action("Index")">Cancel</a>
						</div>
					</div>
				</footer>
			</section>
		</form>

    </div>
</div>

@section Breadcrumb {
    <li><a href="@Url.Action("Index", "Dashboard")">Home</a></li>
	<li><a href="@Url.Action("Index", "AdminUser")"><span>Admins</span></a></li>
    <li><span>Change Password</span></li>
}

@section scripts {
    <script>
        (function ($) {
            $(function () {
                $('#nev-admins').parent().addClass('nav-active');

                // basic
                $("#form").validate({
                    //confirmPassword: { equalTo: "#inputPassword" },
                    highlight: function (element) {
                        $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                    },
                    success: function (element) {
                        $(element).closest('.form-group').removeClass('has-error');
                    }
                });

                $("#confirmPassword").rules("add", {
                    equalTo: "#inputPassword"
                });
            });
        }).apply(this, [jQuery]);
    </script>
}
