﻿@model Website.Models.AdminUser

@{
    ViewBag.Title = "Admin User";
}

<div class="row">
    <div class="col-lg-12">
	   
        <form id="form" action="@Url.Action("Update")" class="form-horizontal" novalidate="novalidate" method="post" enctype="multipart/form-data">
            @Html.HiddenFor(model => Model.AdminUserID)

			<section class="panel">
				<header class="panel-heading">
					<h2 class="panel-title">@(Model.AdminUserID == 0 ? "Create" : "Edit")</h2>
				</header>
				<div class="panel-body">
                    @if (!string.IsNullOrEmpty(ViewBag.Error)) {
                    <div class="validation-message">
						<ul style="display: block;">
                            <li><label class="error" style="display: inline-block;">@ViewBag.Error</label></li>
                        </ul>
					</div>
                    }

                    <div class="form-group">
						<label class="col-sm-3 control-label">Name <span class="required">*</span></label>
						<div class="col-sm-9">
							<input type="text" name="name" class="form-control" placeholder="eg.: Name Lastname " required="" value="@Model.Name">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">User Name <span class="required">*</span></label>
						<div class="col-sm-9">
							<input type="text" name="username" class="form-control" placeholder="eg.: Admin" required="" value="@Model.UserName" @(Model.AdminUserID == 0 ? "" : "disabled=disabled")>
						</div>
					</div>

                    @if (Model.AdminUserID == 0) {
                    <div class="form-group">
						<label class="col-sm-3 control-label">Password <span class="required">*</span></label>
						<div class="col-sm-9">
							<input type="password" class="form-control" placeholder="" name="password" id="inputPassword" required>
						</div>
					</div>

                    
                    <div class="form-group">
						<label class="col-sm-3 control-label">Confirm Password <span class="required">*</span></label>
						<div class="col-sm-9">
							<input type="password" class="form-control" placeholder="" name="confirmPassword" id="confirmPassword" required>
						</div>
					</div>
                    }

					<div class="form-group">
						<label class="col-sm-3 control-label">Email <span class="required">*</span></label>
						<div class="col-sm-9">
							<input type="email" name="email" class="form-control" placeholder="eg.: email@email.com" value="@Model.Email">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">Level <span class="required">*</span></label>
						<div class="col-sm-9">
                             @Html.DropDownList("level", new SelectList(new[] { 
                                                    new { ID = 1, Name = "System Amin" }, 
                                                    new { ID = 2, Name = "Amin"}, 
                                                    new { ID = 3, Name = "User"}
                                                }, "ID", "Name"), "level", new { required =  "" })
						</div>
					</div>

                    @if(WebContext.AdminUserLevel == 1) {
                    <div class="form-group">
                        <div class="col-sm-3"></div>
						<div class="col-sm-9">
                            <a class="btn btn-default" href="@Url.Action("ChangePassword", new { id = Model.AdminUserID })">Change Password</a>
						</div>
					</div>
                    }
				</div>
				<footer class="panel-footer">
					<div class="row">
						<div class="col-sm-9 col-sm-offset-3">
							<button class="btn btn-primary">Submit</button>
							<a class="btn btn-default" href="@Url.Action("Index")">Cancel</a>
						</div>
					</div>
				</footer>
			</section>
		</form>

    </div>
</div>

@section Breadcrumb {
    <li><a href="@Url.Action("Index", "Dashboard")">Home</a></li>
	<li><a href="@Url.Action("Index", "AdminUser")"><span>Admins</span></a></li>
    @if (Model.AdminUserID == 0) { 
        <li><span>Add</span></li>
    } else {
        <li><span>Edit</span></li>
    }
}

@section styles {
    <style>
        ol.check-list {
            list-style: none;
            padding: 0;
        }

        ol.check-list li {
            float: left;
            width: 50%;
            padding-left: 20px;
            position: relative;
            line-height: 25px;
        }

        ol.check-list li input {
            position: absolute;top: 2px;left: 3px;
        }
    </style>
}

@section scripts {
    <script>
        (function ($) {
            $(function () {
                $('#nev-admins').parent().addClass('nav-active');

                // basic
                $("#form").validate({
                    //confirmPassword: { equalTo: "#inputPassword" },
                    highlight: function (element) {
                        $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                    },
                    success: function (element) {
                        $(element).closest('.form-group').removeClass('has-error');
                    }
                });

                $("#confirmPassword").rules("add", {
                    equalTo: "#inputPassword"
                });

                // checkbox, radio and selects
                $("#chk-radios-form, #selects-form").each(function () {
                    $(this).validate({
                        highlight: function (element) {
                            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                        },
                        success: function (element) {
                            $(element).closest('.form-group').removeClass('has-error');
                        }
                    });
                });
            });
        }).apply(this, [jQuery]);
    </script>
}
