﻿@{
    ViewBag.Title = "Admin User";
}

<section class="panel">
	<header class="panel-heading">
		<h2 class="panel-title">List</h2>
	</header>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-6">
				<div class="mb-md">
					<a id="addToTable" class="btn btn-primary" href="@Url.Action("Create")">Add <i class="fa fa-plus"></i></a>
				</div>
			</div>
		</div>
		<table class="table table-bordered table-striped" id="datatable">
			<thead>
				<tr>
					<th style="width:100px">ID</th>
					<th>Name</th>
					<th style="width:120px">Level</th>
					<th style="width:100px">Actions</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</section>

@section Breadcrumb {
    <li><a href="@Url.Action("Index", "Dashboard")">Home</a></li>
	<li><span>Admins</span></li>
}

@section scripts {
    <script>
        /*
        Name: 			Tables / Editable - Examples
        Written by: 	Okler Themes - (http://www.okler.net)
        Theme Version: 	1.0.0
        */

        (function ($) {
            $(function () {
                $('#nev-admins').parent().addClass('nav-active');

                $('#datatable').dataTable({
                    bProcessing: true,
                    sAjaxSource: '@Url.Action("Data")',
                    aoColumns: [
                        null,
                        null,
                        null,
                        { bSortable: false }
                    ],
                    fnCreatedRow: function (row, data, index) {
                        var id = data[0];

                        var adminType = 'User';
                        if (data[2] == '1') 
                            adminType = 'System Amin';
                        else if (data[2] == '2')
                            adminType = 'Amin';

                        $(row).find('td').eq(2).text(adminType);

                        var html = '<a href="@Url.Action("Edit")/' + id + '" class="on-default edit-row"><i class="fa fa-pencil"></i></a>\n' +
                                    '<a href="javascript:deleteItem(' + id + ');" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>';
                        $(row).find('td').eq(3).addClass('actions').css({ textAlign: 'center' }).html(html);
                    }
                 });
            });

        }).apply(this, [jQuery]);

        function deleteItem(id) {
            if (confirm('@Website.WebConfig.ConfirmDeleteMessage')) {
                $.ajax({
                    url: '@Url.Action("Delete")',
                    type: 'POST',
                    dataType: 'json',
                    data: { "id": id },
                    traditional: true,
                    success: function () {
                        window.location.reload();
                    }
                });
            }
        }
    </script>
}
				