﻿@model Website.Models.Login

@{
    Layout = "~/Areas/Admin/Views/Shared/LayoutBase.cshtml";
    ViewBag.Title = "Login";
}

<section class="body-sign">
	<div class="center-sign">
		<a href="/" class="logo pull-left">
			@*<img src="@Url.Content("~/backend_assets/images/logo.png")" height="54" alt="Porto Admin" />*@

            @WebConfig.SiteTitle
		</a>

		<div class="panel panel-sign">
			<div class="panel-title-sign mt-xl text-right">
				<h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Sign In</h2>
			</div>
			<div class="panel-body">
				<form action="@Url.Action("Login")" method="post">
                    @Html.HiddenFor(model => Model.Next)

					<div class="form-group mb-lg">
						<label>Username<span style="font-size:10px; color:red;">@Model.Message</span></label>f
						<div class="input-group input-group-icon">
							<input name="username" type="text" class="form-control input-lg" />
							<span class="input-group-addon">
								<span class="icon icon-lg">
									<i class="fa fa-user"></i>
								</span>
							</span>
						</div>
					</div>

					<div class="form-group mb-lg">
						<div class="clearfix">
							<label class="pull-left">Password</label>
							<a href="pages-recover-password.html" class="pull-right">Lost Password?</a>
						</div>
						<div class="input-group input-group-icon">
							<input name="password" type="password" class="form-control input-lg" />
							<span class="input-group-addon">
								<span class="icon icon-lg">
									<i class="fa fa-lock"></i>
								</span>
							</span>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-8">
							@*<div class="checkbox-custom checkbox-default">
								<input id="RememberMe" name="rememberme" type="checkbox"/>
								<label for="RememberMe">Remember Me</label>
							</div>*@
						</div>
						<div class="col-sm-4 text-right">
							<button type="submit" class="btn btn-primary hidden-xs">Sign In</button>
							<button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Sign In</button>
						</div>
					</div>

				</form>
			</div>
		</div>

		<p class="text-center text-muted mt-md mb-md">&copy; Copyright 2014. All Rights Reserved.</p>
	</div>
</section>

