﻿@{
    string controller = ((string)ViewContext.RouteData.Values["controller"]).ToLower();
    string action = ((string)ViewContext.RouteData.Values["action"]).ToLower();
}


<!DOCTYPE html>
<html>

    <head>
      <meta charset="utf-8">
     
        @if (IsSectionDefined(name: "Metas"))
        {
            @RenderSection(name: "Metas")
        }
        else
        {
            <meta property="og:url"           content="@("https:" + Website.WebConfig.BaseURL)" />
            <meta property="og:type"          content="website" />
            <meta property="og:title"         content="Amway XS Thailand" />
            <meta property="fb:app_id"        content="@Website.WebConfig.FacebookApplicationID" />
        }

      <meta name="viewport" content="width=750, user-scalable=no">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>XS Energy Drink</title>

      <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
      <link rel="icon" href="favicon.ico" type="image/x-icon">

      <link href="~/assets/css/reset.css" media="all" rel="stylesheet" type="text/css">
      <link href="~/assets/font/font.css" media="all" rel="stylesheet" type="text/css">

      <link href="~/assets/js/slick/slick.css" media="all" rel="stylesheet" type="text/css">
      <link href="~/assets/js/slick/slick-theme.css" media="all" rel="stylesheet" type="text/css">
      <!-- <link href="assets/js/fancybox/css/jquery.fancybox.min.css" media="all" rel="stylesheet" type="text/css"> -->
      <link href="~/assets/js/materialize/css/materialize.min.css" media="screen,projection" rel="stylesheet" type="text/css"/>
      <link href="~/assets/css/home.css" media="all" rel="stylesheet" type="text/css">


        @RenderSection("Styles", false)


        @RenderSection("Header", false)
    
    </head>

    <body>

        <script>
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '@Website.WebConfig.FacebookApplicationID',
                    cookie: true,
                    xfbml: true,
                    version: 'v3.2'
                });

                FB.AppEvents.logPageView();

                if (window.setGallery && typeof window.setGallery == 'function') {
                    setGallery();
                }

                if (window.showGalleryPopup && typeof window.showGalleryPopup == 'function') {
                    showGalleryPopup();
                }

            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

        <div class="wrapper">
            <header>
                <div class="content">
                    <nav>
                    <ul>
                        <li class="@(controller == "home" ? "active" : "")" ><a href="@Url.Action("index", "home")">หน้าแรก</a></li>
                        <li class="@(controller == "news" ? "active" : "")" ><a href="@Url.Action("index", "news")">ข่าวสารและกิจกรรม</a></li>
                        <li class="@(controller == "products" ? "active" : "")" ><a href="@Url.Action("index", "products")">สินค้า</a></li>
                        <li class="@(controller == "aboutus" ? "active" : "")" ><a href="@Url.Action("index", "aboutus")">เกี่ยวกับเรา</a></li>
                        <li><a>Menu</a></li>
                    </ul>
                    </nav>

                    <a href="@Url.Action("index", "home")" class="logo">Amway</a>
                    <a href="https://www.instagram.com/xs_thailand/" class="instagram" target="_blank">Instagram</a>
                </div>
            </header>

            @RenderBody()

            <footer>
                <div class="content">
                    <a class="footer-logo"></a>
                    <a class="logo-epe"></a>
                    <a class="copyright">2018 AMWAY (THailand) Ltd.</a>
                </div>
            </footer>
        </div>

        <div id="modal1" class="modal" style="display:none;">
            <div class="loading">
                <img src="@Url.Content("~/assets/img/icon/loading.gif?2")">
            </div>
        </div>

        <div id="modal2" class="modal" style="display:none;">
            <div class="message">
                <span></span>

                <div class="button">
                    <button type="button">OK</button>
                </div>
            </div>
        </div>

        <script src="~/assets/js/jquery-1.11.3.js"></script>
        <script src="~/assets/js/slick/slick.min.js"></script>
        <script src="~/assets/js/materialize/js/materialize.min.js"></script>
        <script src="~/assets/js/main.js"></script>

        @RenderSection("Scripts", false)

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126802664-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-126802664-1');

        </script>

    </body>
</html>
