﻿<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="Porto Admin - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="@Url.Content("~/backend_assets/vendor/bootstrap/css/bootstrap.css")" />
		<link rel="stylesheet" href="@Url.Content("~/backend_assets/vendor/font-awesome/css/font-awesome.css")" />
		<link rel="stylesheet" href="@Url.Content("~/backend_assets/vendor/magnific-popup/magnific-popup.css")" />
		<link rel="stylesheet" href="@Url.Content("~/backend_assets/vendor/bootstrap-datepicker/css/datepicker3.css")" />

        <!-- Specific Page Vendor CSS -->
        <link rel="stylesheet" href="@Url.Content("~/backend_assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")" />
		<link rel="stylesheet" href="@Url.Content("~/backend_assets/vendor/select2/select2.css")" />
		<link rel="stylesheet" href="@Url.Content("~/backend_assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css")" />
		<link rel="stylesheet" href="@Url.Content("~/backend_assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css")" />
		<link rel="stylesheet" href="@Url.Content("~/backend_assets/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css")" />
		<link rel="stylesheet" href="@Url.Content("~/backend_assets/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css")" />
		<link rel="stylesheet" href="@Url.Content("~/backend_assets/vendor/dropzone/css/basic.css")" />
		<link rel="stylesheet" href="@Url.Content("~/backend_assets/vendor/dropzone/css/dropzone.css")" />
		<link rel="stylesheet" href="@Url.Content("~/backend_assets/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css")" />
		<link rel="stylesheet" href="@Url.Content("~/backend_assets/vendor/summernote/summernote.css")" />
		<link rel="stylesheet" href="@Url.Content("~/backend_assets/vendor/summernote/summernote-bs3.css")" />
		<link rel="stylesheet" href="@Url.Content("~/backend_assets/vendor/codemirror/lib/codemirror.css")" />
		<link rel="stylesheet" href="@Url.Content("~/backend_assets/vendor/codemirror/theme/monokai.css")" />
        <link rel="stylesheet" href="@Url.Content("~/backend_assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/backend_assets/vendor/jquery-datatables-bs3/assets/css/datatables.css")" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="@Url.Content("~/backend_assets/stylesheets/theme.css")" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="@Url.Content("~/backend_assets/stylesheets/skins/default.css")" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="@Url.Content("~/backend_assets/stylesheets/theme-custom.css")">

		<!-- Head Libs -->
		<script src="@Url.Content("~/backend_assets/vendor/modernizr/modernizr.js")"></script>

        @RenderSection("Styles", false)
	</head>
	<body>
        <section class="body">
		    <!-- start: page -->
		    @RenderBody()
		    <!-- end: page -->

		    <!-- Vendor -->
		    <script src="@Url.Content("~/backend_assets/vendor/jquery/jquery.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/bootstrap/js/bootstrap.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/nanoscroller/nanoscroller.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/magnific-popup/magnific-popup.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/jquery-placeholder/jquery.placeholder.js")"></script>
            <script src="@Url.Content("~/backend_assets/vendor/jquery-tablednd/jquery.tablednd.js")"></script>

            <!-- Specific Page Vendor -->
		    <script src="@Url.Content("~/backend_assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")"></script>
            <script src="@Url.Content("~/backend_assets/vendor/jquery-validation/jquery.validate.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/jquery-datatables/media/js/jquery.dataTables.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/jquery-datatables-bs3/assets/js/datatables.js")"></script>

		    <script src="@Url.Content("~/backend_assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/select2/select2.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/jquery-maskedinput/jquery.maskedinput.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/bootstrap-timepicker/js/bootstrap-timepicker.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/fuelux/js/spinner.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/dropzone/dropzone.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/bootstrap-markdown/js/markdown.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/bootstrap-markdown/js/to-markdown.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/bootstrap-markdown/js/bootstrap-markdown.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/codemirror/lib/codemirror.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/codemirror/addon/selection/active-line.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/codemirror/addon/edit/matchbrackets.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/codemirror/mode/javascript/javascript.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/codemirror/mode/xml/xml.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/codemirror/mode/htmlmixed/htmlmixed.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/codemirror/mode/css/css.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/summernote/summernote.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/bootstrap-maxlength/bootstrap-maxlength.js")"></script>
		    <script src="@Url.Content("~/backend_assets/vendor/ios7-switch/ios7-switch.js")"></script>
            <script src="@Url.Content("~/backend_assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js")"></script>
		    
		    <!-- Theme Base, Components and Settings -->
		    <script src="@Url.Content("~/backend_assets/javascripts/theme.js")"></script>
		
		    <!-- Theme Custom -->
		    <script src="@Url.Content("~/backend_assets/javascripts/theme.custom.js")"></script>
		
		    <!-- Theme Initialization Files -->
		    <script src="@Url.Content("~/backend_assets/javascripts/theme.init.js")"></script>


            <!-- ckeditor -->
            <script src="@Url.Content("~/backend_assets/vendor/ckeditor/ckeditor.js")"></script>
            <script src="@Url.Content("~/backend_assets/vendor/ckeditor/adapters/jquery.js")"></script>
            <script src="@Url.Content("~/backend_assets/vendor/ckfinder/ckfinder.js")"></script>
            <script type="text/javascript">
                $(function () {
                    var $editor = $('#description-th,#description-en,.wysiwyg').ckeditor();
                    if ($editor.length > 0) {
                        var editor = $editor.ckeditorGet();
                        CKFinder.setupCKEditor(editor, '@Url.Content("~/backend_assets/vendor/ckfinder/")');
                    }
                });
            </script>
           
            <!-- Theme Initialization Files -->
            @RenderSection("Scripts", false)
        </section>
	</body>
</html>
