﻿@using Website.Areas.Admin

@{
    Layout = "~/Areas/Admin/Views/Shared/LayoutBase.cshtml";
    
    
    string adminName = "";
    string adminEmail = "";
    string adminRole = "";

    AdminUser admin = new DBEntities().AdminUser.Find(WebContext.AdminUserID.Value);
    if (admin != null) {
        adminName = admin.Name;
        adminEmail = admin.Email;
        
        switch (admin.Level) {
            case 1: adminRole = "System Amin"; break;
            case 2: adminRole = "Amin"; break;
            case 3: adminRole = "User"; break;
        }
    }

}

<!-- start: header -->
<header class="header">
	<div class="logo-container">
		<a href="/" class="logo">
			@*<img src="@Url.Content("~/backend_assets/images/logo.png")" height="35" alt="Porto Admin" />*@
            @WebConfig.SiteTitle
		</a>
		<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
			<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
		</div>
	</div>
			
	<!-- start: search & user box -->
	<div class="header-right">
		<div id="userbox" class="userbox">
			<a href="#" data-toggle="dropdown">
				<figure class="profile-picture">
					<img src="@Url.Content("~/backend_assets/images/!logged-user.jpg")" alt="Joseph Doe" class="img-circle" data-lock-picture="assets/images/!logged-user.jpg" />
				</figure>
				<div class="profile-info" data-lock-name="@adminName" data-lock-email="@adminEmail">
					<span class="name">@adminName</span>
					<span class="role">@adminRole</span>
				</div>
			
				<i class="fa custom-caret"></i>
			</a>
			
			<div class="dropdown-menu">
				<ul class="list-unstyled">
					<li class="divider"></li>
					<li>
						<a role="menuitem" tabindex="-1" href="#"><i class="fa fa-user"></i> My Profile</a>
					</li>
					<li>
						<a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="fa fa-lock"></i> Lock Screen</a>
					</li>
					<li>
						<a role="menuitem" tabindex="-1" href="@Url.Action("logout", "AdminUser")"><i class="fa fa-power-off"></i> Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- end: search & user box -->
</header>
<!-- end: header -->

<div class="inner-wrapper">
	<!-- start: sidebar -->
	<aside id="sidebar-left" class="sidebar-left">
				
		<div class="sidebar-header">
			<div class="sidebar-title">
				Navigation
			</div>
			<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
				<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
			</div>
		</div>
				
		<div class="nano">
			<div class="nano-content">
				<nav id="menu" class="nav-main" role="navigation">
					<ul class="nav nav-main">
                        
                        @if(WebContext.AdminUserLevel == (int)AdminLevelEnum.SystemAdmin){
                        <li>
							<a href="@Url.Action("Index", "AdminUser")" id="nev-admins">
								<i class="fa fa-users" aria-hidden="true"></i>
								<span>Admin Users</span>
							</a>
						</li>
                        }

                        <li>
							<a href="@Url.Action("Index", "Gallery")" id="nev-interested">
								<i class="fa fa-copy" aria-hidden="true"></i>
								<span>Gallery</span>
							</a>
						</li>
                        
                        <li>
							<a href="@Url.Action("Logout", "AdminUser")">
								<i class="fa fa-power-off" aria-hidden="true"></i>
								<span>Logout</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
				
		</div>
				
	</aside>
	<!-- end: sidebar -->

	<section role="main" class="content-body">
		<header class="page-header">
			<h2>@ViewBag.Title</h2>
					
			<div class="right-wrapper pull-right">
				<ol class="breadcrumbs">
					<li>
						<a href="@Url.Action("Index", "Dashboard")">
							<i class="fa fa-home"></i>
						</a>
					</li>
                    @RenderSection("Breadcrumb", true)
				</ol>
					
				<a class="sidebar-right-toggle" data-open="">@*<i class="fa fa-chevron-left"></i>*@</a>
			</div>
		</header>

		<!-- start: page -->
        @RenderBody()
		<!-- end: page -->
	</section>
</div>

@section Styles {
    @RenderSection("Styles", false) 
}

@section scripts {
    @RenderSection("Scripts", false) 
}