﻿
      <div id="product" class="page-content">
        <section id="collection-menu">
          <div class="parallax-container">
            <div class="parallax"><img src="@Url.Content("~/assets/img/bg/bg_collection_menu_2.jpg")"></div>

            <div class="content">
              <ul>
                <li id="btn-slide-cranberry" class="cranberry active">
                  <p>
                    <img alt="cranberry" src="@Url.Content("~/assets/img/collection/memu_cranberry.png")" />
                  </p>
                  <h4>XS  Cranberry  Grape  Blast</h4>
                  <span>กลิ่นแครนเบอร์รี่-เกรพ บลาสท์</span>
                </li>
                <li class="split"></li>
                <li id="btn-slide-tropical" class="tropical">
                  <p>
                    <img alt="tropical" src="@Url.Content("~/assets/img/collection/menu_tropical.png")" />
                  </p>
                  <h4>XS  TROPICAL  BLAST</h4>
                  <span>กลิ่นทรอปิคอล บลาสท์</span>
                </li>
                <!-- <li class="split"></li>
                <li class="products">
                  <a href="collection.html" >
                    <p>
                      <img alt="products" src="assets/img/collection/menu_products.png" />
                    </p>
                    <h4>SUPER  CHIC</h4>
                    <span>COLLECTION <strong>| ของที่ระลึก</strong></span>
                  </a>
                </li> -->
              </ul>
            </div>
          </div>
        </section>

        <div id="hero-banner-slide">

          <div class="list banner-cranberry">
            <div id="display-banner-cranberry">
                <div class="banner">
                  <a href="https://www.amwayshopping.com/amwayshopping-frontend/shopping/contentPage?pageKey=amway.product.brand&productId=1603" target="_blank">
                    <span class="can"></span> 
                  </a>
                  <span class="title">XS Cranberry Grape Blast</span>
                  <span class="row1">เอ็กซ์เอส กลิ่นแครนเบอร์รี่-เกรพ บลาสท์</span>
                  <span class="row2">พิสูจน์รสชาติที่แตกต่างของรสผลไม้ตะวันตกที่ไม่เหมือนใคร หอมกลิ่นแครนเบอร์รี่ผสมองุ่น</span>
                  <span class="vitamin"></span>
                  <span class="detail-copy"></span>
                  <div class="advertising-license">
                      <div class="desktop">
                        <span>
                          ฆอ. 2106/2561
                        </span>
                      </div>
                      <div class="mobile">
                        <span>
                          ฆอ. 2074-2561
                        </span>
                      </div>
                  </div>
                </div>
            </div>
          </div>

            <!-- <div style="background:url(assets/img/product_all/desktop/tropical/bg.png) repeat-x;"> -->
            <div class="list banner-tropical">
              <div id="display-banner-tropical">
                <div class="bkg">
                  <div class="banner">
                    <a href="https://www.amwayshopping.com/amwayshopping-frontend/shopping/contentPage?pageKey=amway.product.brand&productId=1603" target="_blank">
                        <span class="can"></span> 
                    </a>
                    <span class="title">XS TROPICAL Blast</span>
                    <span class="row1">เอ็กซ์เอส กลิ่นทรอปิคอล บลาสท์</span>
                    <span class="row2">สัมผัสความกลมกล่อมกับรสผลไม้เมืองร้อน ความผสมผสานอย่างลงตัวของกลิ่นส้ม เสาวรส และสับปะรด</span>
                    <span class="vitamin"></span>
                    <span class="detail-copy"></span>
                    <div class="advertising-license">
                        <div class="desktop">
                          <span>
                            ฆอ. 2106/2561
                          </span>
                        </div>
                        <div class="mobile">
                          <span>
                            ฆอ. 2074-2561
                          </span>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- </div> -->
        </div>

        <section id="quote">
          <div class="parallax-container">
            <div class="parallax"><img src="@Url.Content("~/assets/img/product_all/desktop/cranberry/bg-detail.png")"></div>
            <div class="parallax-dim"></div>

            <div id="display-detail">
              <div class="title">PRODUCT INFO</div>
              <div class="row1">เครื่องดื่มเอ็กซ์เอส กลิ่นแครนเบอร์รี่-เกรพ บลาสท์ <br class="newline-mobile"/>และเครื่องดื่มเอ็กซ์เอสกลิ่นทรอปิคอล บลาสท์</div>
              <div class="row2">เครื่องดื่มเอ็กซ์เอส (XS) ที่นอกจากปราศจากน้ำตาล <br class="newline-mobile"/>พลังงานเท่ากับ 0 กิโลแคลอรีต่อกระป๋อง <br class="newline-desktop"/><br class="newline-mobile"/>แล้วยังอุดมไปด้วยวิตามินบี1 บี3 บี5 บี6 บี12 <br class="newline-mobile"/>และมีแอล-คาร์นิทีน (L-Carnitine) 30 มิลลิกรัมต่อกระป๋อง</div>
              <div class="row3">เครื่องดื่มเอ็กซ์เอส กลิ่นแครนเบอร์รี่-เกรพ บลาสท์ <br class="newline-desktop"/><br class="newline-mobile"/>และเครื่องดื่มเอ็กซ์เอสกลิ่นทรอปิคอล บลาสท์ 1 กระป๋องประกอบด้วย</div>
              <div class="vitamin"></div>
              <div id="display-detail-vitamin">
                <div class="left">
                  <div class="box1 box">
                    <span class="title">VITAMIN&nbsp;&nbsp;&nbsp;B1&nbsp;&nbsp;&nbsp;100%&nbsp;*</span>
                    <ul>
                      <li class="list">มีส่วนช่วยในการทำงานของระบบประสาทและกล้ามเนื้อ</li>
                      <li class="list">ช่วยให้ร่างกายได้พลังงานจากคาร์โบไฮเดรต</li>
                    </ul>
                  </div>
                  <div class="box2 box">
                    <span class="title">VITAMIN&nbsp;&nbsp;&nbsp;B3&nbsp;&nbsp;&nbsp;100%&nbsp;*</span>
                    <ul>
                      <li class="list">ช่วยให้เยื่อบุทางเดินอาหารและผิวหนังอยู่ในสภาพปกติ</li>
                      <li class="list">ช่วยให้ร่างกายได้พลังงานจากคาร์โบไฮเดรตโปรตีน และไขมัน</li>
                    </ul>
                  </div>
                  <div class="box3 box">
                    <span class="title">VITAMIN&nbsp;&nbsp;&nbsp;B6&nbsp;&nbsp;&nbsp;350%&nbsp;*</span>
                    <ul>
                      <li class="list">มีส่วนช่วยในการสร้างเม็ดเลือดแดงให้สมบูรณ์</li>
                      <li class="list">มีส่วนช่วยสร้างสารที่จำเป็นในการทำงานของระบบประสาท</li>
                    </ul>
                  </div>
                  <div class="box4 box">
                    <span class="title">VITAMIN&nbsp;&nbsp;&nbsp;B12&nbsp;&nbsp;&nbsp;1000%&nbsp;*</span>
                    <ul>
                      <li class="list">มีส่วนช่วยสร้างสารที่จำเป็นในการสร้างเซลล์เม็ดเลือดแดง</li>
                      <li class="list">มีส่วนช่วยในการทำงานของระบบประสาทและสมอง</li>
                    </ul>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="right">
                  <div class="box5 box">
                    <span class="title">VITAMIN&nbsp;&nbsp;&nbsp;B5&nbsp;&nbsp;&nbsp;100%&nbsp;*</span>
                    <ul>
                      <li class="list">ช่วยในการใช้ประโยชน์ (เมตาบอลิซึม) ของไขมันและคาร์โบไฮเดรต</li>
                      <li class="list">ช่วยในการใช้ประโยชน์ของไขมัน และคาร์โบไฮเดรต</li>
                      <li class="list">ช่วยในการเมตาบอลิซึมของไขมัน และคาร์โบไฮเดรต</li>
                    </ul>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div id="display-note">
                ควรกินอาหารหลากหลายครบ 5 หมู่ในสัดส่วนที่เหมาะสมเป็นประจํา<br/> *ร้อยละของปริมาณสารอาหารที่แนะนำให้บริโภคต่อวัน <br class="newline-mobile"/>สำหรับคนไทยอายุตั้งแต่ 6 ปีขึ้นไป <br/>(Thai RDI) คิดจากความต้องการพลังงานวันละ 2,000 กิโลแคลอรี 
              </div>
            </div>
            
          </div>
        </section>
      </div>

@section scripts {
  <script>
      $(function () {
          $('.parallax').parallax();

          $('#hero-banner-slide').slick({
              slidesToShow: 1,
              slidesToScroll: 1,
              dots: true,
              arrows: false,
              infinite: false
          });

          $('#hero-banner-slide').on('afterChange', function (event, slick, direction) {

              if (direction == 0) {
                  $("#btn-slide-cranberry").addClass("active");
                  $("#btn-slide-tropical").removeClass("active");
              } else if (direction == 1) {
                  $("#btn-slide-tropical").addClass("active");
                  $("#btn-slide-cranberry").removeClass("active");
              }
          });

          $("#btn-slide-cranberry").click(function () {
              $("#btn-slide-cranberry").addClass("active");
              $("#btn-slide-tropical").removeClass("active");
              $('#hero-banner-slide').slick('slickGoTo', 0);
          });

          $("#btn-slide-tropical").click(function () {
              $("#btn-slide-tropical").addClass("active");
              $("#btn-slide-cranberry").removeClass("active");
              $('#hero-banner-slide').slick('slickGoTo', 1);
          });

          if (window.location.hash == '#tropical') {
              $('#hero-banner-slide').slick('slickGoTo', 2);
          }

      });


  </script>
}

@section styles {
    <link href="~/assets/css/product.css" media="all" rel="stylesheet" type="text/css">
}