﻿<!--START CONTENT-->
<div id="home-content" class="page-content">
    <section id="hero-banner">
        <div id="slick">

            @*<div class="item">
                <a href="@Url.Content("~/myeverydaywithxs")">
                    <img src="@Url.Content("~/assets/img/banner/XS_KV-activity_BannerWeb.png")" alt="">
                </a>
            </div>*@

            <div class="item">
                <video id="vdo-banner" autoplay muted controls loop preload="auto">
                    <source src="@Url.Content("~/assets/video/amway.mp4")" type="video/mp4">
                </video>
            </div>

            <div class="item">
                <img src="@Url.Content("~/assets/img/banner/header-desktop-1.png")" alt="">
            </div>

            <div class="item">
                <img src="@Url.Content("~/assets/img/banner/header-desktop-2.png")" alt="">
            </div>

        </div>
    </section>

    <section id="quote">
        <div class="parallax-container">
            <div class="parallax">
                <img src="@Url.Content("~/assets/img/bg/layer_2.jpg")"></div>

            <div class="content">
                <h2>เอ็กซ์เอส จุดพลังความท้าทาย<br />
                    มานานกว่าทศวรรษ
                </h2>
                <p>
                    ในปี พ.ศ. 2544 เอ็กซ์เอส ถือกำเนิดขึ้นที่ลากูน่าบีช รัฐแคลิฟอร์เนีย ประเทศสหรัฐอเมริกา 
                  เพื่อส่งมอบพลังเชิงบวก ผ่านเครื่องดื่มรสชาติแปลกใหม่ 
                  เอ็กซ์เอส สร้างสีสันในการทำธุรกิจแอมเวย์ จึงทำให้ยอดขายเติบโตขึ้นอย่างรวดเร็ว 
                  และยังเป็นผลิตภัณฑ์ที่น่าสนใจแก่คนรุ่นใหม่ เพื่อเปิดใจหันมาทำธุรกิจแอมเวย์มากขึ้น
                </p>
                <p>
                    <a href="@Url.Action("index", "aboutus")">View All</a>
                </p>
            </div>
        </div>
    </section>

    <section id="cranberry" class="section-product">
        <div class="content">
            <h2>XS Cranberry Grape Blast</h2>
            <p class="can"></p>
            <p class="text1">เอ็กซ์เอส กลิ่นแครนเบอร์รี่-เกรพ บลาสท์</p>
            <p class="text2">พิสูจน์รสชาติที่แตกต่างของรสผลไม้ตะวันตกที่ไม่เหมือนใคร
                <br class="newline-mobile" />
                หอมกลิ่นแครนเบอร์รี่ผสมองุ่น</p>
            <p class="detail"></p>
            <p class="view">
                <a href="@Url.Action("index", "products")">View</a>
            </p>
            <!-- <div class="advertising-license">
                  <div class="desktop">
                    <span>
                      ฆอ. 2106/2561
                    </span>
                  </div>
                  <div class="mobile">
                    <span>
                      ฆอ. 2074-2561
                    </span>
                  </div>
              </div> -->
        </div>
    </section>

    <section id="tropical" class="section-product">
        <div class="content">
            <h2>XS TROPICAL BLAST</h2>
            <p class="can"></p>
            <p class="text1">เอ็กซ์เอส กลิ่นทรอปิคอล บลาสท์</p>
            <p class="text2">สัมผัสความกลมกล่อมกับรสผลไม้เมืองร้อน ความผสมผสานอย่างลงตัวของกลิ่นส้ม เสาวรส และสับปะรด</p>
            <p class="detail"></p>
            <p class="view">
                <a href="@Url.Action("index", "products")#tropical">View</a>
            </p>
            <div class="advertising-license">
                <div class="desktop">
                    <span>ฆอ. 2106/2561
                    </span>
                </div>
                <div class="mobile">
                    <span>ฆอ. 2074-2561
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section id="news">
        <div class="parallax-container">
            <div class="parallax">
                <img src="@Url.Content("~/assets/img/bg/bg_news_2.jpg")"></div>

            <div class="content">
                <h2>NEWS & ACTIVITY</h2>
                <p class="text1">ข่าวสารและกิจกรรม</p>
                <ul>
                    <li>
                        <p>
                            <a href="http://www.amwaytodaythai.com/digital-tool/digital-tools/ssd-application.html" target="_blank">
                                <img alt="" src="assets/img/exam/SSD-WebBanner.png">
                            </a>
                        </p>
                        <h4>
                            <a href="http://www.amwaytodaythai.com/digital-tool/digital-tools/ssd-application.html" target="_blank">SSD APPLICATION
                            </a>
                        </h4>
                        <span>พบกับแอพพลิเคชั่นที่ช่วยสร้างโอกาสทางธุรกิจ ให้คุณเปิดใจผู้มุ่งหวังได้สะดวก รวดเร็ว และเข้าใจง่ายยิ่งขึ้น
                        </span>
                    </li>

                    @*<li>
                        <p>
                            <a href="@Url.Content("~/myeverydaywithxs")" >
                                <img alt="" src="assets/img/exam/EverydayXS-WebBanner.png"></a>
                        </p>
                        <h4><a href="@Url.Content("~/myeverydaywithxs")">My Everyday with XS</a></h4>
                        <span>
                            ถ้าคุณเป็นคนมีไลฟ์สไตล์ อย่าเก็บไว้คนเดียว เพียงถ่ายภาพไลฟ์สไตล์แบบ XS ในแบบของคุณแล้วมาร่วมสนุกกัน ตั้งแต่ 2  – 15 พ.ย. นี้
                        </span>
                    </li>*@

                </ul>
                <p class="view">
                    <a href="@Url.Action("index", "news")">View</a>
                </p>
            </div>
        </div>
    </section>
</div>
<!--END CONTENT-->


@section styles {
    <style>
        #home-content #news .parallax-container .content ul li h4 {
            top: 300px;
        }
        .page-content #hero-banner #slick .item > a img {
            height: 100%;
        }
        @@media screen and (max-width: 1005px) {
            #home-content #news .parallax-container .content ul li h4 {
                top: 440px;
            }
        }
    </style>
}